.logo {
    display: flex;
    width: 80%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    

}
.list-group-item{
    color: black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.text{
    padding: 0px 30px 0px 30px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 80%;
}

.background {
/* background-color: #4893FF; */
background-color:darkgray;
}

body {
    background-repeat: repeat-y;
    background-color: darkgray;
}

.btn-danger{
    background-color: #4993ff;
    height: 6vh;
}
.btn-default{
    background-color: white;
}
.row {
    height: 100vh;
}
.container_right{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #F15A24;
    background-size: 50vw 100vh;
    background-repeat: repeat-y;
    justify-content: center;
    align-items: center;
}

.container_left{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card-header{
    background-color: #88837d;
}
/* 
font-family: 'Lilita One', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Luckiest Guy', cursive; */